{% extends "components/layout.html" %}


{% block title %}Home{% endblock %}
{% block content %}
    <div class="row m-sm-5 m-3">
        <h1 class="col">This is FastAPI</h1>        
    </div>

    <section class="row justify-content-center">
        <form method="post" action="/user" class="col-sm-5 col-10">
            <div class="mb-3">
                <label for="exampleImputUsername" class="form-label">Username</label>
                <input 
                    type="text"
                    name="username"
                    class="form-control"
                    id="exampleInputUsername"
                    required
                    >
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password_user" name="password" class="form-control" id="exampleInputPassword1" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>
{% endblock %}